################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Data/Scripts/SERO/obj/Debug
/Data/Scripts/SERO/obj/Release
